/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 365px;

// Small tablets
$screen-md-min: 704px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1280px;

// colors
$safety-red: #A7242A;
$basically-black: #19030F;
$ice-blue: #BCD9F7;
$header-blue: rgba(159, 216, 255);
$header-red: rgba(255, 129, 129);
$header-light: #BCD9F7;
$white: #FFFFFF;
