/* =============
    typography
============= */

h1 {
  font-family: garage-gothic,sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: rem-calc(48);
  line-height: rem-calc(64);
}

// h2 {
//   font-family: "brandon-grotesque", sans-serif;
//   font-weight: 700;
//   font-size: rem-calc(20);
//   line-height: rem-calc(24);
//
// }
//
// h6 {
//   font-family: "brandon-grotesque", sans-serif;
//   font-weight: 700;
//   font-size: rem-calc(16);
//   line-height: rem-calc(24);
//
// }
//
// p {
//   font-family: "sofia-pro", sans-serif;
//   font-size: rem-calc(16);
//   line-height: rem-calc(26);
//
//
//   span {
//     font-weight: 700;
//     font-size: rem-calc(16);
//     line-height: rem-calc(26);
//   }
// }
