/* =============
    typography
============= */

h1 {
  font-family: garage-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem-calc(100);
  line-height: rem-calc(0);
  opacity: 42%;
  @include md {
    // opacity: 50%;
    font-size: rem-calc(150);
  }
}

h2 {
  font-family: garage-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem-calc(45);
  color: $safety-red;
  text-align: center;
  padding-bottom: rem-calc(0);
  margin: 0;
  @include md {
    font-size: rem-calc(72);
  }
}

h3 {
  font-family: garage-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: rem-calc(37);
  line-height: rem-calc(24);
  color: $safety-red;
  text-align: center;
  padding-bottom: rem-calc(15);
  margin-bottom: rem-calc(0);
  margin-top: rem-calc(25);
  @include md {
    font-size: rem-calc(60);
    padding-bottom: rem-calc(25);
  }
}

h4 {
  font-family: "DINMittelschriftStd", sans-serif;
  font-weight: 500;
  color: $safety-red;
  font-size: rem-calc(25);
  margin: 15px;
  @include md {
    font-size: rem-calc(35);
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(5);
  }
}

h5 {
  font-family: "DINMittelschriftStd", sans-serif;
  font-weight: 550;
  color: $safety-red;
  font-size: rem-calc(20);
  margin: 15px 0;
  @include md {
    font-size: rem-calc(30);
    padding-top: rem-calc(5);
  }
}

h6 {
  font-family: garage-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: rem-calc(30);
  line-height: rem-calc(35);
  color: $white;
  text-align: center;
  padding-bottom: rem-calc(0);
  padding-top: rem-calc(23);
  margin-bottom: rem-calc(30);
  padding-left: rem-calc(15);
  padding-right: rem-calc(15);
  @include md{
    font-size: rem-calc(50);
    line-height: rem-calc(60);
    padding-left: rem-calc(90);
    padding-right: rem-calc(90);
    padding-top: rem-calc(50);
  }
}

p {
  font-family: "DINMittelschriftStd", sans-serif;
  font-weight: 550;
  color: $basically-black;
  font-size: rem-calc(16);
  line-height: rem-calc(26);
  padding-left: rem-calc(32);
  padding-right: rem-calc(32);
  // padding-top: rem-calc(10);
  margin-top: 0;
  @include md {
    font-size: rem-calc(26);
    line-height: rem-calc(38);
    padding-left: rem-calc(70);
    padding-right: rem-calc(70);
  }

  span {
    color: $safety-red;
  }
}

li {
  font-family: "DINMittelschriftStd", sans-serif;
  font-weight: 550;
  color: $basically-black;
  font-size: rem-calc(16);
  line-height: rem-calc(26);
  @include md {
    font-size: rem-calc(23);
    line-height: rem-calc(36);
    // text-align: center;
  }
}
