#brains{
  #healthy{
    margin-bottom: rem-calc(-40);
    img{
      transform: scale(.7);
    }
  }

  #brain-text{

    p{
    margin-left: rem-calc(30);
    margin-right: rem-calc(30);
    text-align: center;
    }
  }
}
