#brains {
  margin-bottom: rem-calc(205);
  @include md {
    margin-bottom: rem-calc(360);
  }
  @include lg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "normal bad";
    margin-left: rem-calc(10);
    margin-right: rem-calc(10);
  }

  #healthy {
    margin-bottom: rem-calc(-40);
    @include lg{
      grid-area: normal;
    }
    img {
      transform: scale(.7);
      @include lg{
        margin-bottom: rem-calc(-30);
      }
    }
  }

  #damaged {
    margin-bottom: rem-calc(-40);
    @include lg{
      grid-area: bad;
      padding-top: rem-calc(60);
    }

    img {
      transform: scale(.7);
    }
  }

  #brain-text {
    z-index: 200;

    p {
      margin-left: rem-calc(30);
      margin-right: rem-calc(30);
      text-align: center;
      @include lg{
        margin-left: rem-calc(70);
        margin-right: rem-calc(70);
      }
    }
  }




  #brain-blobs {
    margin-bottom: rem-calc(50);
    #blob-1 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 37%;
        bottom: -20px;
        left: 40px;
        @include md {
          bottom: rem-calc(-80);
        }
        @include lg{
          width: 47%;
          left: rem-calc(90);
        }
      }
    }

    #blob-2 {
      position: relative;
      z-index: -1;
      img {
        position: absolute;
        width: 43%;
        bottom: -40px;
        left: 100px;
        transform: rotate(215deg);
        @include md {
          left: rem-calc(260);
          bottom: rem-calc(-30);
          transform: rotate(240deg);
          width: 35%;
        }
        @include lg{
          width: 37%;
          left: rem-calc(300);
          bottom: rem-calc(-60);
        }
      }
    }

    #blob-3 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 30%;
        bottom: -40px;
        left: 150px;
        transform: rotate(35deg);
        @include md {
          width: 35%;
          left: rem-calc(300);
          top: rem-calc(-170);
        }
        @include lg{
          width: 50%;
          transform: rotate(-15deg);
          left: rem-calc(30);
          top: rem-calc(-100);
        }
      }
    }

    #blob-4 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 46%;
        bottom: -20px;
        left: 190px;
        transform: rotate(157deg);
        @include md {
          width: 35%;
          left: rem-calc(450);
          top: rem-calc(-190);
        }
        @include lg{
          left: rem-calc(200);
        }
      }
    }
  }


}
