#diagnose{
    margin-bottom: rem-calc(175);
    @include md{
      margin-bottom: rem-calc(270);
    }
  p{
    padding-top: rem-calc(10);
  }

  #brain-blobs {
    margin-bottom: rem-calc(50);

    #blob-5 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 65%;
        bottom: 150px;
        left: rem-calc(-10);
        // top: rem-calc(0);
        transform: rotate(-75deg);
        @include md{
          transform: rotate(15deg);
          width: 55%;
          left: rem-calc(20);
          bottom: rem-calc(175);
        }
      }
    }

    #blob-6 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 50%;
        bottom: 10px;
        left: 100px;
        transform: rotate(165deg);
        @include md{
          transform: rotate(145deg);
        }
      }
    }
  }

}
