#donate {
  margin-bottom: rem-calc(65);

  #donate-button {
    text-align: center;

    button {
      background-color: $safety-red;
      font-family: "DINMittelschriftStd", sans-serif;
      font-weight: 550;
      font-size: rem-calc(35);
      padding: 15px 45px;
      border-radius: 50px;
      border: 0px solid $header-red;
      cursor: pointer;
      color: $header-blue;

      @include md{
        font-size: rem-calc(55);
        padding: 30px 90px;
        border-radius: 70px;
      }
    }
  }
}
