#puck-drop {
  margin-bottom: rem-calc(175);
  position: relative;
  @include md{
    margin-bottom: rem-calc(260);
  }

  p {
    padding-top: rem-calc(10);
  }

  #puck {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(70);
      top: rem-calc(-45);
    }

    #top-puck {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(50);
        top: rem-calc(-120);
        color: $header-blue;
      }
    }

    #middle-puck {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(53);
        top: rem-calc(-117);
        color: $header-red;
      }
    }

    #bottom-puck {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(47);
        top: rem-calc(-114);
        color: $header-light;
      }
    }
  }

  #drop {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(170);
      top: rem-calc(-45);
    }

    #top-drop {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(210);
        top: rem-calc(-100);
        color: $header-blue;
      }
    }

    #middle-drop {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(205);
        top: rem-calc(-97);
        color: $header-red;
      }
    }

    #bottom-drop {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(208);
        top: rem-calc(-94);
        color: $header-light;
      }
    }
  }

  #brain-blobs {
    margin-bottom: rem-calc(50);

    #blob-8 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 55%;
        bottom: 50px;
        left: rem-calc(30);
        // top: rem-calc(0);
        transform: rotate(275deg);
        @include md{
          transform: rotate(-170deg);
          left: rem-calc(300);
          bottom: rem-calc(-40);
        }
      }
    }

    #blob-9 {
      position: relative;
      z-index: -1;

      img {
        position: absolute;
        width: 40%;
        bottom: rem-calc(0);
        left: rem-calc(160);
        transform: rotate(110deg);
        @include md{
          transform: rotate(50deg);
          left: rem-calc(120);
        }
      }
    }
  }
}
