/* =============
    hero
============= */
#hero{
  margin-top: rem-calc(80);
  @include md{
    margin-bottom: rem-calc(250);
  }

  div{
    width: 110vw;
    @include md{
      width: 100vw;
    }
  }

  article{
    position: relative;
    margin-bottom: rem-calc(150);
    margin-left: rem-calc(20);

    aside{
      position: absolute;
      background-image: url("../img/hero-image.svg");
      background-size: cover;
      height: 50vh;
      bottom: 20px;
      right: 0;
      left: rem-calc(30);

      @include md{
        bottom: rem-calc(20);
        left: rem-calc(70);
        height: 52vh;
      }

      @include lg{
        height: 130vh;
        bottom: rem-calc(100);
        left: rem-calc(150);
      }
    }
  }
}
