#jersey {
  margin-bottom: rem-calc(75);


  h2 {
    padding-bottom: rem-calc(15);
    @include md {
      padding-bottom: rem-calc(25);
    }
  }

  #buy{
    @include lg{
      display: grid;
      grid-template-columns: repeat (2,1fr);
      grid-template-rows: repeat (2,1fr);
      grid-template-areas:
      "westb eastb"
      "westc eastc";
    }


  }

  button {
    font-family: "DINMittelschriftStd", sans-serif;
    font-weight: 500;
    font-size: rem-calc(20);
    background-color: $white;
    color: $safety-red;
    padding: 10px 20px;
    border-radius: 50px;
    border: 3px solid $header-blue;
    cursor: pointer;
    @include md{
      font-size: rem-calc(30);
      padding: 15px 35px;
      border: 6px solid $header-blue;
    }


  }

  #west-blank {
    text-align: center;
    margin-bottom: rem-calc(48);
    z-index: 10;

    img {
      width: 90%;
      margin-bottom: rem-calc(5);
      @include md {
        width: 85%;
      }
    }
  }

  #east-blank {
    text-align: center;
    margin-bottom: rem-calc(48);
    z-index: 10;

    img {
      width: 90%;
      margin-bottom: rem-calc(5);
      @include md {
        width: 85%;
      }
    }
  }

  #west-back {
    text-align: center;
    margin-bottom: rem-calc(48);
    z-index: 10;

    img {
      width: 90%;
      margin-bottom: rem-calc(5);
      @include md {
        width: 85%;
      }
    }
  }

  #east-back {
    text-align: center;
    margin-bottom: rem-calc(48);
    z-index: 10;

    img {
      width: 90%;
      margin-bottom: rem-calc(5);
      @include md {
        width: 85%;
      }
    }
  }

  #brain-blobs {
    margin-bottom: rem-calc(50);

    #blob-13 {
      position: relative;

      img {
        position: absolute;
        width: 75%;
        bottom: 50px;
        left: rem-calc(130);
        bottom: rem-calc(1050);
        transform: rotate(170deg);
        z-index: -1;
        @include md{
          bottom: rem-calc(1800);
          left: rem-calc(200);
          width: 70%;
        }
      }
    }

    #blob-14 {
      position: relative;

      img {
        position: absolute;
        width: 60%;
        bottom: rem-calc(820);
        left: rem-calc(30);
        transform: rotate(100deg);
        z-index: -1;
        @include md{
          bottom: rem-calc(1430);
          left: rem-calc(55);
          transform: rotate(90deg);
        }
      }
    }

    #blob-15 {
      position: relative;

      img {
        position: absolute;
        width: 75%;
        bottom: rem-calc(550);
        left: rem-calc(0);
        transform: rotate(-30deg);
        z-index: -1;
        @include md{
          bottom: rem-calc(990);
        }
      }
    }

    #blob-16 {
      position: relative;

      img {
        position: absolute;
        width: 65%;
        bottom: rem-calc(300);
        left: rem-calc(60);
        transform: rotate(130deg);
        z-index: -1;
        @include md{
          bottom: rem-calc(500);
          left: rem-calc(180);
          transform: rotate(160deg);
        }
      }
    }

    #blob-17 {
      position: relative;

      img {
        position: absolute;
        width: 55%;
        bottom: rem-calc(140);
        left: rem-calc(180);
        transform: rotate(-100deg);
        z-index: -1;
        @include md{
          bottom: rem-calc(100);
          left: rem-calc(180);
          // transform: rotate(160deg);
        }
      }
    }
  }
}
