#line-up {
  margin-bottom: rem-calc(60);
  position: relative;
  @include md{
    margin-bottom: rem-calc(100);
  }
  @include lg{
    margin-bottom: rem-calc(50);
  }


  #line {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    top: rem-calc(-90);
    @include md{
      top: rem-calc(-140);
      left: rem-calc(130);
    }
    @include lg{
      top: rem-calc(-170);
      left: rem-calc(100);
    }

    #top-line {
      position: relative;
      z-index: 5;


      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(65);
        top: rem-calc(-3);
        color: $header-blue;
      }
    }

    #middle-line {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(60);
        color: $header-red;
      }
    }

    #bottom-line {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(68);
        top: rem-calc(-9);
        color: $header-light;
      }
    }
  }

  #up {
    opacity: 50%;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: rem-calc(-70);
    left: rem-calc(-15);
    @include md{
      top: rem-calc(-130);
      left: rem-calc(190);
    }
    @include lg{
      top: rem-calc(-160);
      left: rem-calc(200);
    }

    #top-up {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(225);
        top: rem-calc(-43);
        color: $header-blue;
      }
    }

    #middle-up {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(218);
        top: rem-calc(-45);
        color: $header-red;
        // opacity: 65%;
      }
    }

    #bottom-up {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(223);
        top: rem-calc(-52);
        color: $header-light;
      }
    }
  }

  h2 {
    // padding-top: rem-calc(90);
    z-index: 10;
    @include lg{
      text-align: left;
      margin-left: rem-calc(67);
    }
  }

  #symptoms {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
     "mem dif"
     "imp agg"
     "bal dem";
    padding-top: rem-calc(40);
    text-align: center;
    @include lg{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2,1fr);
      grid-template-areas:
      "mem dif imp"
      "agg bal dem"
    }

    p {
      padding-top: rem-calc(7);
      @include lg{
        padding-top: rem-calc(10);
        margin-left: rem-calc(0);
        margin-right: rem-calc(0);
      }
    }

    #mem-loss {
      grid-area: mem;
      padding-bottom: rem-calc(40);
      img{
        @include md{
          width: 40%;
        }
      }
    }

    #dif-control {
      grid-area: dif;
      @include md{
        padding-bottom: rem-calc(40);
      }
      img{
        @include md{
          width: 40%;

        }
      }
    }

    #impaired {
      grid-area: imp;
      padding-bottom: rem-calc(40);

      img{
        @include md{
          width: 40%;
        }
      }
    }

    #aggro {
      grid-area: agg;
      @include md{
        padding-bottom: rem-calc(40);
      }
      img{
        @include md{
          width: 40%;
        }
      }
    }

    #balance {
      grid-area: bal;
      img{
        @include md{
          width: 40%;
        }
      }
    }

    #dementia {
      grid-area: dem;
      margin-top: rem-calc(-21);
      img{
        @include md{
          width: 43.5%;
          margin-top: rem-calc(-10);
        }
      }
    }
  }
}
