#line-up {
  margin-bottom: 70px;

  #line {
    opacity: 50%;
    z-index: 6;

    #top-line {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(65);
        top: rem-calc(-3);
        color: $header-blue;
      }
    }

    #middle-line {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(60);
        color: $header-red;
      }
    }

    #bottom-line {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(68);
        top: rem-calc(-9);
        color: $header-light;
      }
    }
  }

  #up {
    opacity: 50%;
    z-index: 1;

    #top-up {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(225);
        top: rem-calc(-43);
        color: $header-blue;
      }
    }

    #middle-up {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(218);
        top: rem-calc(-45);
        color: $header-red;
        // opacity: 65%;
      }
    }

    #bottom-up {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        // width: 25%;
        left: rem-calc(223);
        top: rem-calc(-52);
        color: $header-light;
      }
    }
  }

  h2 {
    padding-top: rem-calc(90);
    z-index: 7;
  }

  #symptoms {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
     "mem dif"
     "imp agg"
     "bal dem";
    padding-top: rem-calc(40);
    text-align: center;

    p {
      padding-top: rem-calc(7);
    }

    #mem-loss {
      grid-area: mem;
      padding-bottom: rem-calc(40);
    }

    #dif-control {
      grid-area: dif;
    }

    #impaired {
      grid-area: imp;
      padding-bottom: rem-calc(40);
    }

    #aggro {
      grid-area: agg;
    }

    #balance {
      grid-area: bal;
    }

    #dementia {
      grid-area: dem;
      margin-top: rem-calc(-21);
    }
  }
}
