#rosters {
  margin-bottom: rem-calc(600);
  position: relative;

  h2 {
    padding-bottom: rem-calc(10);
  }

  #our-3 {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(90);
      top: rem-calc(-70);
    }

    #top-our-3 {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(30);
        top: rem-calc(-120);
        color: $header-blue;
      }
    }

    #middle-our-3 {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(25);
        top: rem-calc(-115);
        color: $header-red;
      }
    }

    #bottom-our-3 {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(27);
        top: rem-calc(-110);
        color: $header-light;
      }
    }
  }

  #players {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(160);
      top: rem-calc(-70);
    }

    #top-players {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(160);
        top: rem-calc(-90);
        color: $header-blue;
      }
    }

    #middle-players {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(165);
        top: rem-calc(-87);
        color: $header-red;
      }
    }

    #bottom-players {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(163);
        top: rem-calc(-85);
        color: $header-light;
      }
    }
  }

  #east {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    @include md{
      margin-left: rem-calc(110);
      margin-right: rem-calc(110);
    }

    h3 {
      text-align: left;
      padding-left: rem-calc(10);
      // padding-top: rem-calc(11);
      padding-bottom: rem-calc(21);
      color: $header-blue;
      @include md{
        text-align: center;
      }
    }

    .accordion {
      background-color: $safety-red;
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: solid $safety-red 0;
      outline: none;
      transition: 1s;
      border-radius: 20px;
      @include md{
        // width: 80%;
      }
    }
    // .active, .accordion:hover {
    //   background-color: $safety-red;
    // }
    //
    // .active, .accordion h3:hover {
    //   color: $ice-blue;
    // }
    .panel {
      // padding: 0;
      background-color: $header-blue;
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-radius: 20px;
      padding-bottom: 10px;
      margin-top: -50px;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        padding-top: 60px;

        li {
          margin-top: 10px;
          margin-bottom: 10px;
          list-style: none;
        }
      }
    }
  }

  #west {
    margin-left: 30px;
    margin-right: 30px;

    h3 {
      text-align: left;
      padding-left: rem-calc(10);
      // padding-top: rem-calc(11);
      padding-bottom: rem-calc(21);
      color: $safety-red;
      @include md{
        text-align: center;
      }
    }

    .accordion {
      background-color: $header-blue;
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: solid $safety-red 0;
      outline: none;
      transition: 1s;
      border-radius: 20px;
    }
    // .active, .accordion:hover {
    //   background-color: $safety-red;
    // }
    //
    // .active, .accordion h3:hover {
    //   color: $ice-blue;
    // }
    .panel {
      // padding: 0;
      background-color: $safety-red;
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-radius: 20px;
      padding-bottom: 10px;
      margin-top: -50px;
      margin-bottom: 0;

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        padding-top: 60px;

        li {
          margin-top: 10px;
          margin-bottom: 10px;
          list-style: none;
          color: white;
        }
      }
    }
  }

  #east-players {
    position: relative;
    z-index: 9;

    #e-lowest-opacity {
      display: none;
    }

    #e-mid-opacity {
      display: none;
    }

    #e-full-opacity {
      position: absolute;
      width: 90%;
      top: rem-calc(80);
      left: rem-calc(125);
    }
  }

  #west-players {
    position: relative;
    z-index: 10;

    #w-lowest-opacity {
      display: none;
    }

    #w-mid-opacity {
      display: none;
    }

    #w-full-opacity {
      position: absolute;
      width: 110%;
      top: rem-calc(180);
      left: rem-calc(-110);
    }
  }

  #brain-blobs {
    margin-bottom: rem-calc(50);

    #blob-10 {
      position: relative;

      img {
        position: absolute;
        width: 60%;
        bottom: 50px;
        left: rem-calc(-55);
        top: rem-calc(300);
        transform: rotate(150deg);
      }
    }

    #blob-11 {
      position: relative;

      img {
        position: absolute;
        width: 70%;
        top: rem-calc(70);
        left: rem-calc(160);
        transform: rotate(-80deg);
      }
    }

    #blob-12 {
      position: relative;

      img {
        position: absolute;
        width: 55%;
        top: rem-calc(260);
        left: rem-calc(130);
        transform: rotate(20deg);
      }
    }
  }
}
