#rosters{
  margin-bottom: rem-calc(300);

  #our-3 {
    opacity: 50%;
    z-index: 6;

    #top-our-3 {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(30);
        top: rem-calc(-120);
        color: $header-blue;
      }
    }

    #middle-our-3 {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(25);
        top: rem-calc(-115);
        color: $header-red;
      }
    }

    #bottom-our-3 {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(27);
        top: rem-calc(-110);
        color: $header-light;
      }
    }
  }

  #players {
    opacity: 50%;
    z-index: 6;

    #top-players{
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(160);
        top: rem-calc(-90);
        color: $header-blue;
      }
    }

    #middle-players {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(165);
        top: rem-calc(-87);
        color: $header-red;
      }
    }

    #bottom-players {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(163);
        top: rem-calc(-85);
        color: $header-light;
      }
    }
  }







































}


































//
// #accepted article {
//   padding-left: 20px;
// }
//
// #accepted h2 {
//   padding-top: 10px;
//   padding-left: 10px;
// }
//
// #accepted ul {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 10px;
//   margin-left: 30px;
// }
//
// #accepted li {
//   font-family: light;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   list-style: circle;
// }
//
// .accordion {
//   background-color: #ffe5e6;
//   cursor: pointer;
//   width: 100%;
//   text-align: left;
//   border-bottom: solid black 2px;
//   outline: none;
//   transition: 0.4s;
//   border-radius: 0;
//   margin: 0;
//   padding: 0;
// }
//
// .active, .accordion:hover {
//   background-color: #e23c2c;
// }
//
// .active, .accordion h2:hover {
//   color: white;
// }
//
// .panel {
//   padding: 0;
//   background-color: white;
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.2s ease-out;
// }
//
// .accordion h2:after {
//   color: #e23c2c;
// }

/*****************
  4. unaccepted items
*******************/

// #unaccepted article {
//   padding-left: 20px;
// }
//
// #unaccepted h2 {
//   padding-top: 10px;
//   padding-left: 10px;
// }
//
// #unaccepted ul {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 10px;
//   margin-left: 30px;
// }
//
// #unaccepted li {
//   font-family: light;
//   margin-bottom: 20px;
//   margin-top: 20px;
//   list-style: circle;
// }
