#rosters {
  margin-bottom: rem-calc(600);
  position: relative;
  @include md{
    margin-bottom: rem-calc(650);
  }
  @include lg{
    margin-bottom: rem-calc(1050);
  }

  h2 {
    padding-bottom: rem-calc(10);
    @include lg{
      text-align: left;
      margin-left: rem-calc(67);
    }
  }

  #our-3 {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(90);
      top: rem-calc(-70);
    }

    #top-our-3 {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(30);
        top: rem-calc(-120);
        color: $header-blue;
      }
    }

    #middle-our-3 {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(25);
        top: rem-calc(-115);
        color: $header-red;
      }
    }

    #bottom-our-3 {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(27);
        top: rem-calc(-110);
        color: $header-light;
      }
    }
  }

  #players {
    opacity: 50%;
    z-index: 6;
    position: absolute;
    width: 100%;
    @include md{
      left: rem-calc(160);
      top: rem-calc(-70);
    }

    #top-players {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(160);
        top: rem-calc(-90);
        color: $header-blue;
      }
    }

    #middle-players {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(165);
        top: rem-calc(-87);
        color: $header-red;
      }
    }

    #bottom-players {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 25%;
        left: rem-calc(163);
        top: rem-calc(-85);
        color: $header-light;
      }
    }
  }
  #east-players {
    position: relative;
    z-index: 9;

    #e-lowest-opacity {
      display: none;
      @include lg{
        display: block;
        position: absolute;
        width: 30%;
        left: rem-calc(900);
        bottom: rem-calc(-240);
      }
    }

    #e-mid-opacity {
      display: none;
      @include md{
        display: block;
        position: absolute;
        width: 60%;
        left: rem-calc(370);
      }
      @include lg{
        width: 40%;
        left: rem-calc(700);
        top: rem-calc(-190);
      }
    }

    #e-full-opacity {
      position: absolute;
      width: 90%;
      top: rem-calc(80);
      left: rem-calc(125);
      @include md{
        width: 75%;
        left: rem-calc(270);
        top: rem-calc(100);
      }
      @include lg{
        width: 50%;
        left: rem-calc(580);
        top: rem-calc(-100);
      }
    }
  }


  #west-players {
    position: relative;
    z-index: 10;

    #w-lowest-opacity {
      display: none;
      @include lg{
        display: block;
        position: absolute;
        width: 52%;
        left: rem-calc(-60);
        top: rem-calc(20);
      }
    }

    #w-mid-opacity {
      display: none;
      @include md{
        display: block;
        position: absolute;
        width: 75%;
        left: rem-calc(-60);
        top: rem-calc(100);
      }
      @include lg{
        width: 55%;
        left: rem-calc(-30);
        top: rem-calc(200);
      }
    }

    #w-full-opacity {
      position: absolute;
      width: 110%;
      top: rem-calc(180);
      left: rem-calc(-110);
      @include md{
        width: 95%;
        left: rem-calc(-100);
        top: rem-calc(200);
      }
      @include lg{
        width: 70%;
        left: rem-calc(-20);
        top: rem-calc(275);
      }
    }
  }


  #east {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    @include md{
      margin-left: rem-calc(120);
      margin-right: rem-calc(120);
      margin-bottom: rem-calc(70);
    }
    @include lg{
      margin-left: rem-calc(67);

    }

    h3 {
      text-align: left;
      padding-left: rem-calc(10);
      // padding-top: rem-calc(11);
      padding-bottom: rem-calc(21);
      color: $header-blue;
      @include md{
        text-align: center;
        padding: 0;
        margin-bottom: 25px;
      }
      @include lg{
        text-align: left;
        padding-left: rem-calc(10);
      }
    }

    .accordion {
      background-color: $safety-red;
      cursor: pointer;
      width: 50%;
      text-align: left;
      border: solid $safety-red 0;
      outline: none;
      transition: 1s;
      border-radius: 20px;
      @include md{
        // width: 80%;
      }
    }
    // .active, .accordion:hover {
    //   background-color: $safety-red;
    // }
    //
    // .active, .accordion h3:hover {
    //   color: $ice-blue;
    // }
    .panel {
      // padding: 0;
      background-color: $header-blue;
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-radius: 20px;
      padding-bottom: 10px;
      margin-top: -50px;
      @include lg{
          margin-right: rem-calc(547);
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        padding-top: 60px;

        li {
          margin-top: 10px;
          margin-bottom: 10px;
          list-style: none;
        }
      }
    }
  }

  #west {
    margin-left: 30px;
    margin-right: 30px;
    @include md{
      margin-left: rem-calc(120);
      margin-right: rem-calc(120);
      margin-bottom: rem-calc(70);
    }
    @include lg{
      display: none;
    }

    h3 {
      text-align: left;
      padding-left: rem-calc(10);
      // padding-top: rem-calc(11);
      padding-bottom: rem-calc(21);
      color: $safety-red;
      @include md{
        text-align: center;
        padding: 0;
        margin-bottom: 25px;
        // margin-top: rem-calc(20);
        // margin-bottom: rem-calc(20);
      }
    }

    .accordion {
      background-color: $header-blue;
      cursor: pointer;
      width: 100%;
      text-align: left;
      border: solid $safety-red 0;
      outline: none;
      transition: 1s;
      border-radius: 20px;
    }
    // .active, .accordion:hover {
    //   background-color: $safety-red;
    // }
    //
    // .active, .accordion h3:hover {
    //   color: $ice-blue;
    // }
    .panel {
      // padding: 0;
      background-color: $safety-red;
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.2s ease-out;
      border-radius: 20px;
      padding-bottom: 10px;
      margin-top: -50px;
      margin-bottom: 0;
      @include md{
        margin-bottom: rem-calc(30);
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-left: 30px;
        padding-top: 60px;
        @include md{

          // margin-right: 30px;
        }

        li {
          margin-top: 10px;
          margin-bottom: 10px;
          list-style: none;
          color: white;
          // margin-left: -30px;
        }
      }
    }
  }





  #brain-blobs {
    margin-bottom: rem-calc(50);
    @include lg{
      display: none;
    }

    #blob-10 {
      position: relative;

      img {
        position: absolute;
        width: 60%;
        bottom: 50px;
        left: rem-calc(-55);
        top: rem-calc(300);
        transform: rotate(150deg);
        @include md{
          // left: rem-calc(60);
          width: 55%;
          transform: rotate(70deg);
          top: rem-calc(500);
        }
      }
    }

    #blob-11 {
      position: relative;

      img {
        position: absolute;
        width: 60%;
        top: rem-calc(70);
        left: rem-calc(160);
        transform: rotate(-80deg);
        @include md{
          left: rem-calc(440);
          top: rem-calc(320);
        }
      }
    }

    #blob-12 {
      position: relative;

      img {
        position: absolute;
        width: 50%;
        top: rem-calc(260);
        left: rem-calc(130);
        transform: rotate(20deg);
        @include md{
          left: rem-calc(380);
          top: rem-calc(180);
          transform: rotate(100deg);
        }
      }
    }

    #blob-13 {
      position: relative;


      img {
        display: none;
        @include md{
          display: block;
          // left: rem-calc(380);
          bottom: rem-calc(-100);
          transform: rotate(100deg);
          width: 40%;
        }
      }
    }
  }
}
