#symptoms{
  margin-bottom: 100px;
  #line{
    #top-line{
      position: relative;
      z-index: 5;
      h1{
        position: absolute;
        color: $header-blue;
        left: 100px;
      }
    }
    #middle-line{
      position: relative;
      z-index: 4;
      h1{
        position: absolute;
        color: $header-red;
      }
    }
    #bottom-line{
      position: relative;
      h1{
        position: absolute;
        color: $header-light;
        bottom: 250px;
      }
    }
  }














}
