/* =============
    what is cte
============= */
#what-is-cte{
  height: 60vh;
  div{
    // position: relative;
    // height: 30vh;


    #top{
      position: relative;
      z-index: 5;
      img{
        position: absolute;
        width: 30%;
        bottom: 20px;
        left: 5px;
      }

    }

    #middle{
      position: relative;
      z-index: 4;
      img{
        position: absolute;
        width: 30%;
        bottom: 15px;
      }
    }

    #bottom{
      position: relative;
      z-index: 1;
      img{
        position: absolute;
        width: 30%;
        left: 3px;
        bottom: 10px;
      }
    }
  }























}
