/* =============
    what is cte
============= */
#what-is-cte {
  height: 47vh;
  width: 100%;
  position: relative;

  @include md{
    margin-bottom: rem-calc(-100);
  }

  #our {
    position: absolute;
    width: 100%;
    opacity: 50%;
    left: rem-calc(40);

    @include md{
      left: rem-calc(80);
      top: rem-calc(60);
    }


    #top {
      position: relative;
      z-index: 5;

      h1 {
        position: absolute;
        width: 25%;
        bottom: 20px;
        left: 5px;
        color: $header-blue;
      }
    }

    #middle {
      position: relative;
      z-index: 4;

      h1 {
        position: absolute;
        width: 25%;
        bottom: 15px;
        color: $header-red;
      }
    }

    #bottom {
      position: relative;
      z-index: 1;

      h1 {
        position: absolute;
        width: 25%;
        left: 3px;
        bottom: 10px;
        color: $header-light;
      }
    }
  }

  #opponent {
    // margin-left: rem-calc(124);
    position: absolute;
    width: 100%;
    // right:0;
    left: rem-calc(100);
    top: rem-calc(90);
    opacity: 50%;
    z-index: -1;

    @include md{
      left: rem-calc(300);
    }

    #top-oppo {
      position: relative;
      z-index: 3;

      h1 {
        position: absolute;
        width: 65%;
        bottom: 20px;
        left: -3px;
        color: $header-blue;
      }
    }

    #middle-oppo {
      position: relative;
      z-index: 2;

      h1 {
        position: absolute;
        width: 65%;
        bottom: 15px;
        color: $header-red;
      }
    }

    #bottom-oppo {
      position: relative;
      z-index: 1;

      h1 {
        position: absolute;
        width: 65%;
        left: -6px;
        bottom: 10px;
        color: $header-light;
      }
    }
  }

  #copy {
    padding-top: rem-calc(15);
    // z-index: 10;
  }
}
