/* =============
    Header
============= */
header {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .05), 0 1px 10px 0 rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .04);
    position: fixed;
    height: 64px;
    width: 100%;
    background-color: $safety-red;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    padding: 15px 0;
    z-index: 500;
    // margin-bottom: 50px;

    > div {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;

        figure{
            margin: 0;

          img{
            // height: 10%;
            width: 35%;
            // z-index: 600;
          }


        }



        #burger-container {
            svg {
                height: 60px;
                // width: 48px;
                cursor: pointer;
            }
        }
    }
}
