/* =============
    Nav Background
============= */
#nav-bg {
    position: fixed;
    height: 70%;
    width: 80vw;
    top: 0;
    right: 0;
    z-index: 150;
    background-color: $basically-black;
    overflow: hidden;

    svg {
        transform: rotate(45deg);
        background-color: $ice-blue;

        circle {
            fill: $ice-blue;
        }
    }
    >div{
        // border-radius: 50%;
        height: 100%;
        width: 100%;
    }
}
